*
!patches/0001-Support-running-without-python-all-with-python3-only.patch
!tests/buildenv.sh
!tests/setup.py
!tests/MANIFEST.in
!tests/py3_only_pkg/py3_module.py
!tests/py3_only_pkg/__init__.py
!tests/py3_only_pkg/README.rst
